#dolor-seleccionado {
    font-weight: bold;
}

.slider-container {
    padding: 0 20px; /* Add some padding to prevent labels from touching the edges */
}

#dolor-slider {
    background: linear-gradient(to right, green, yellow, red);
    margin-top: 5px; /* Add some space between the label and the slider */
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #6c757d; /* Bootstrap's secondary text color */
}

/* For WebKit browsers (Chrome, Safari) */
input[type=range].form-range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, green, yellow, red);
    height: 10px;
    border-radius: 5px;
}

/* For Mozilla Firefox */
input[type=range].form-range::-moz-range-track {
    background: linear-gradient(to right, green, yellow, red);
    height: 10px;
    border-radius: 5px;
}

/* For Microsoft Edge */
input[type=range].form-range::-ms-track {
    background: linear-gradient(to right, green, yellow, red);
    height: 10px;
    border-radius: 5px;
    border: none;
    color: transparent;
}

.sidebar {
    border-right: 1px solid #dee2e6;
    padding-right: 15px;
}
